/* 공통 색상 */
:root {
  --header-height: 75px;
  --primary-color: #4e8750;
  --secondary-color: #b7d5c9;
  --gray-color: #dddddd;
  --dark-gray-color: #666666;
}

/* 폰트 사이즈 */
body {
  font-size: 16px;
}

/* header */
header {
  font-family: 'Lato', sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 24vw;
  border-bottom: 1px solid #ddd;
  color: #000;
  background-color: #fff;
  z-index: 100;
}

header a h1 {
  font-size: 5.2vw;
  font-weight: 600;
  letter-spacing: -0.3vw;
  padding: 4.4vw 4vw;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  color: var(--primary-color);
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  width: 33.3vw;
}

header li:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid var(--primary-color);
}

header li:last-child {
  position: absolute;
  top: 2.2vw;
  right: 0;
}

header li:last-child:hover {
  border-bottom: 0;
}

header li a {
  font-size: 3.4vw;
  display: block;
  padding: 3vw 1.5vw;
  color: var(--primary-color);
  text-align: center;
}

header li:last-child a {
  border-radius: 7vw;
  width: 28.5vw;
  padding: 2.8vw;
  color: #fff;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
}

header li:last-child:hover a {
  color: var(--primary-color);
  background-color: #fff;
}

header li:last-child:active a {
  color: #fff;
  background-color: var(--primary-color);
}

@media (min-width: 1024px) {
  #header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: calc((100% - 1280px) / 2);
    height: var(--header-height);
  }

  #header a h1 {
    font-size: 1.1em;
    letter-spacing: -0.05em;
    padding: 0;
    height: 100%;
    border-bottom: 0;
  }

  #header ul {
    align-items: center;
    gap: 2em;
  }

  #header li {
    width: fit-content;
  }

  #header li:last-child {
    position: static;
    padding: 0;
  }

  #header li a {
    font-size: 1em;
    padding: 0.7em 1em;
  }

  header li:last-child a {
    font-size: 1em;
    padding: 0.7em 1.2em;
    width: fit-content;
  }
}

/* introduce */
#introduce {
  padding: 25.6vw 4.5vw 1.6vw;
}

#introduce .about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduce .profile-image {
  position: relative;
  margin: 11vw auto;
  width: 42vw;
  height: 42vw;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
}

#introduce .profile-image img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

#introduce h2 {
  font-size: 4.2vw;
  font-weight: 700;
  letter-spacing: -0.15vw;
  margin-bottom: 2vw;
  text-align: center;
}

#introduce h2 strong {
  font-size: 7.8vw;
  display: block;
  margin-right: 1.6vw;
  margin-bottom: 3.7vw;
}

#introduce p {
  font-size: 3.8vw;
  line-height: 7vw;
  width: 85vw;
  text-align: center;
}

#introduce .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.1vw;
  padding: 5vw 0 10vw 0;
  border-bottom: 1px solid #ddd;
}

#introduce .tags li {
  font-size: 3.8vw;
  padding: 2.9vw 4.5vw;
  border-radius: 10vw;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

#introduce address {
  font-style: normal;
  padding: 12vw 0;
  color: var(--dark-gray-color);
}

#introduce address dt,
dd {
  font-size: 3.7vw;
  display: inline-block;
  margin-left: 4vw;
  padding-bottom: 7vw;
}

#introduce address dt {
  font-weight: 700;
  width: 26vw;
}

#introduce address dd {
  font-weight: 400;
}

@media (min-width: 1024px) {
  #introduce {
    display: grid;
    grid-template:
      'avatar about about about about'
      'avatar address address address contact';
    padding-top: calc(11.5em + var(--header-height));
    padding-bottom: 11.5em;
    padding-inline: calc((100% - 1280px) / 2);
    width: 100%;
  }

  #introduce .about {
    grid-area: about;
  }

  #introduce .profile-image {
    grid-area: avatar;
    margin: 0 3em 0 0;
    width: 19em;
    height: 19em;
  }

  #introduce .profile-image img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  #introduce .about h2 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.8em;
    width: 100%;
    letter-spacing: 0.01em;
    text-align: start;
  }

  #introduce .about h2 strong {
    font-size: 2em;
    display: inline;
    margin-right: 1em;
  }

  #introduce .about p {
    font-size: 1.1em;
    line-height: 1.2em;
    width: 100%;
    text-align: start;
  }

  #introduce .about .tags {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    padding: 1.3em 0 2.8em 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  #introduce .about .tags li {
    font-size: 1em;
    padding: 0.7em 1.3em;
    border-radius: 1.3em;
  }

  #introduce address {
    grid-area: address;
    padding: 3em 0;
  }

  #introduce address dl {
    display: grid;
    grid-template-columns: 15% 40% 15% auto;
  }

  #introduce address dt,
  dd {
    font-size: 1em;
    margin-left: 0;
    padding-bottom: 1.5em;
  }

  #introduce address dt {
    width: fit-content;
  }
}

/* projects */
#projects {
  padding: 24vw 4vw;
  background-color: var(--secondary-color);
}

#projects .title {
  color: var(--primary-color);
}

#projects .title h3 {
  font-family: 'Lato', sans-serif;
  font-size: 7.2vw;
  font-weight: 700;
  margin-bottom: 3.5vw;
}

#projects .title p {
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: 3.5vw;
}

#projects ul {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

#projects .card {
  width: 100%;
  height: 80vw;
  border-radius: 7vw;
  overflow: hidden;
  box-shadow: 0 2vw 3vw rgba(0, 0, 0, 0.05);
  background-color: #fff;
  z-index: 0;
}

#projects .thumbnail {
  position: relative;
  height: 35%;
  overflow: hidden;
}

#projects .thumbnail img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate3d(0, -50%, 0);
}

#projects .card .content {
  margin: 5vw;
  height: 30%;
  overflow: hidden;
}

#projects .content dt {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 5vw;
  color: #000;
}

#projects .content dd {
  font-size: 3.7vw;
  font-weight: 400;
  margin-left: 0;
  line-height: 6vw;
  color: #666;
}

#projects .link {
  font-size: 3.7vw;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 5vw;
  width: 45%;
  border: 1px solid var(--primary-color);
  border-radius: 7vw;
  color: var(--primary-color);
  text-align: center;
}

#projects .link .icon {
  position: absolute;
  top: 50%;
  right: 11%;
  width: 3.3vw;
  height: 3.3vw;
  transform: translate3d(0, -50%, 0);
  background: url(../images/chevron-right.png) no-repeat 50%;
  background-size: contain;
}

@media (min-width: 1024px) {
  #projects {
    margin-bottom: 20em;
    padding: 8em calc((100% - 1280px) / 2);
    height: 26em;
    background-color: var(--secondary-color);
  }

  #projects .title {
    margin-bottom: 0;
  }

  #projects .title h3 {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    margin-right: 0.5em;
    font-weight: 700;
    display: inline-block;
  }

  #projects .title p {
    font-size: 1.1em;
    display: inline-block;
  }

  #projects ul {
    display: flex;
    flex-direction: row;
    gap: 0.9em;
  }

  #projects .card {
    width: 26em;
    height: 27.5em;
    border-radius: 1.5em;
    box-shadow: 0 0.6em 1.3em rgba(0, 0, 0, 0.05);
  }

  #projects .card:hover {
    transform: translate3d(0, -1em, 0);
    box-shadow: 0 0.6em 1.3em rgba(0, 0, 0, 0.25);
  }

  #projects .thumbnail {
    height: 45%;
  }

  #projects .thumbnail img {
    left: 0;
    width: 100%;
    transform: translate3d(0, -50%, 0);
  }

  #projects .card .content {
    display: flex;
    flex-direction: column;
    margin: 1.6em;
    align-items: center;
  }

  #projects .content dt {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1.2em;
  }

  #projects .content dd {
    font-size: 1.1em;
    line-height: 1.6em;
  }

  #projects .link {
    font-size: 0.9em;
    margin: 0 auto;
    width: fit-content;
    padding: 1em 2.6em;
    border-radius: 4em;
  }

  #projects .link .icon {
    width: 0.8em;
    height: 0.8em;
  }
}

/* experiences */
#experiences {
  padding: 24vw 4vw;
}

#experiences .title {
  border-bottom: 1vw solid #000;
  color: var(--primary-color);
}

#experiences .title h3 {
  font-family: 'Lato', sans-serif;
  font-size: 7.2vw;
  font-weight: 700;
  margin-bottom: 3.5vw;
}

#experiences .title p {
  font-size: 3.5vw;
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 3.5vw;
}

#experiences li {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-areas:
    'institution course'
    'institution period';
  padding: 8vw 4vw;
  border-bottom: 1px dashed #ddd;
}

#experiences li p {
  font-size: 3.5vw;
}

#experiences .institution {
  font-weight: 700;
  grid-area: institution;
  margin-right: 2vw;
}

#experiences .course {
  grid-area: course;
  margin-bottom: 8vw;
  color: #666;
}

#experiences .period {
  grid-area: period;
  color: #666;
}

@media (min-width: 1024px) {
  #experiences {
    padding: 8em calc((100% - (1280px)) / 2) 2.5em;
  }

  #experiences .title {
    margin-bottom: 0;
    border-bottom: 2px solid #000;
  }

  #experiences .title h3 {
    font-size: 2em;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0;
  }

  #experiences .title p {
    font-size: 1.1em;
    display: inline-block;
  }

  #experiences li {
    display: flex;
    padding: 0;
    height: 6.3em;
  }

  #experiences li p {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    padding: 0;
  }

  #experiences .institution {
    margin: 0 1em;
    width: 20%;
  }

  #experiences .course {
    margin-bottom: 0;
    width: 60%;
  }
}

/* retrospects */
#retrospects {
  padding: 24vw 0 24vw 4vw;
  background-color: var(--secondary-color);
  overflow-x: scroll;
}

#retrospects .title {
  color: var(--primary-color);
}

#retrospects .title h3 {
  font-size: 7.2vw;
  font-weight: 700;
  margin-bottom: 3.5vw;
}

#retrospects .title p {
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: 15vw;
}

#retrospects .contents {
  width: 100%;
  overflow-x: scroll;
}

#retrospects ul {
  display: flex;
  gap: 4vw;
  width: calc((50vw + 4vw) * 8);
}

#retrospects li {
  width: 50vw;
  height: 50vw;
  border-radius: 3vw;
  background-image: url('../images/til.jpg');
  background-size: cover;
}

#retrospects li a {
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  width: 100%;
  height: 100%;
  border-radius: 3vw;
  color: #fff;
  text-align: center;
}

@media (min-width: 1024px) {
  #retrospects {
    padding: 13em calc((100% - 1280px) / 2);
  }

  #retrospects .title h3 {
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
    margin-right: 0.5em;
  }

  #retrospects .title p {
    font-size: 1.1em;
    display: inline-block;
    margin-bottom: 2.1em;
  }

  #retrospects .contents {
    width: 100%;
    overflow-x: hidden;
  }

  #retrospects ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.9em;
  }

  #retrospects li {
    width: 19em;
    height: 19em;

    background-image: url('../images/til.jpg');
    background-size: cover;

    overflow: hidden;
  }

  #retrospects li a {
    display: none;
  }

  #retrospects li:hover a {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* contact-me */
#contact-me {
  padding: 20vw 4vw;
  border-bottom: 1px solid #ddd;
}

#contact-me .nudge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vw 0;
  border-color: #ddd;
  border-style: solid;
  border-width: 0.5vw;
  border-top: 1vw solid #000;
  margin-bottom: 12vw;
}

#contact-me .nudge h3 {
  font-family: 'Lato', sans-serif;
  font-size: 7.2vw;
  font-weight: 700;
  margin-bottom: 4.3vw;
}

#contact-me .nudge p {
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: 7.3vw;
  color: #666;
}

#contact-me button {
  font-size: 4vw;
  font-family: 'Lato', sans-serif;
  display: block;
  padding: 4.6vw 6vw;
  border: 1px solid var(--primary-color);
  border-radius: 8vw;
  color: #fff;
  background-color: var(--primary-color);
}

#contact-me button:hover {
  color: var(--primary-color);
  background-color: #fff;
}

#contact-me button:active {
  color: #fff;
  background-color: var(--primary-color);
}

#contact-me .sns {
  display: flex;
  justify-content: center;
  gap: 7vw;
}

#contact-me .sns li a {
  display: block;
  width: 11vw;
  height: 11vw;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -10000px;
  overflow: hidden;
}

#contact-me .facebook a {
  background-image: url(../images/facebook.png);
}

#contact-me .instagram a {
  background-image: url(../images/instagram.png);
}

#contact-me .twitter a {
  background-image: url(../images/twitter.png);
}

#contact-me .youtube a {
  background-image: url(../images/youtube.png);
}

@media (min-width: 1024px) {
  #contact-me {
    padding: 9em calc((100% - 1280px) / 2) 2.5em;
  }

  #contact-me .nudge {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 3.7em;
    border-width: 1px;
    border-top: 2px solid #000;
    margin-bottom: 2.5em;
  }

  #contact-me .nudge h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  #contact-me .nudge p {
    font-size: 1.1em;
    margin-bottom: 0;
  }

  #contact-me button {
    font-size: 1.1em;
    padding: 1em 2.9em;
    border-radius: 3.1em;
    color: #fff;
    text-transform: uppercase;
  }

  #contact-me .sns {
    display: flex;
    justify-content: center;
    gap: 2.5em;
  }

  #contact-me .sns li a {
    width: 3.7em;
    height: 3.7em;
  }
}

/* go-to-top */

aside .go-to-top {
  position: fixed;
  bottom: 25vw;
  right: 4vw;
  display: block;
  width: 11vw;
  height: 11vw;
  background: url(../images/top-orange.png) no-repeat 0 0;
  background-size: contain;
  text-indent: -10000px;
  overflow: hidden;
  z-index: 100;
}

aside .go-to-top:hover {
  background-image: url(../images/top-white.png);
}

aside .go-to-top:active {
  background-image: url(../images/top-orange.png);
}

@media (min-width: 1024px) {
  aside .go-to-top {
    bottom: 25%;
    right: 10%;
    display: block;
    width: 3.7em;
    height: 3.7em;
  }
}

@media (min-width: 1280px) {
  aside .go-to-top {
    bottom: 25%;
    right: calc((100% - 1280px - 10em) / 2);
    display: block;
    width: 3.7em;
    height: 3.7em;
  }
}

/* footer */
footer {
  font-size: 3.2vw;
  font-weight: 400;
  padding: 10vw 0;
  color: #666;
  text-align: center;
}

@media (min-width: 1024px) {
  footer {
    font-size: 0.9em;
    padding: 2.6em 0;
  }
}
